<div class="container text-center my-5">
  <form method="POST" action="/">
    <div class="input-container">
      <input type="url" class="form-control form-control-lg border-secondary bg-light mb-5"
        placeholder="Input URL here">
    </div>

    <button type="submit" class="btn btn-outline-light btn-lg col-6 my-5">Shorten</button>
  </form>
</div>