<div class="container text-center my-5">
  <form method="POST" action="/">
    <div class="input-container">
      {{#if urlCode}}
      <div class="url-code-container col-8 text-left mx-auto">
        <h2 class="font-weight-bold">Success! Please use this link:</h2>
        <h5 class="pt-3 font-weight-bold" style="font-size: x-large;"><a class="text-info" id="url-code"
            href="{{{url}}}">{{{urlCode}}}</a>
          </h3>
      </div>
      {{else}}
      <input type="url" name="url" class="form-control form-control-lg border-secondary bg-light mb-5"
        placeholder="Input URL here">
      {{/if}}
    </div>

    {{#unless urlCode}}
    <button type="submit" class="btn btn-outline-light btn-lg col-6 my-5">Shorten</button>
    {{/unless}}
  </form>

  {{#if urlCode}}
  <button id="copy" class="col-4 btn btn-lg btn-outline-info mt-5 font-weight-bold copy"
    data-clipboard-target="#url-code">Copy</button>
  {{/if}}
</div>